.project {
  margin-bottom: 40px;
  max-width: 600px;
}

.project .header a {
  color: inherit;
}

.project .header h2 {
  margin-right: 20px;
  display: inline-block;
}

.project .header img {
  height: 25px;
  width: 25px;
  vertical-align: text-bottom;
}

.project .techs {
  display: flex;
  flex-wrap: wrap;
}

.project .techs .tech {
  color: #0080ff;
  padding: 2px 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #0080ff;
  border-radius: 3px;
  font-size: 12px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 600px) and (max-width: 992px) {
  .project .header img {
    height: 30px;
    width: 30px;
  }

  .project .techs .tech {
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 993px and up) */
@media (min-width: 993px) {
  .project .header img {
    height: 35px;
    width: 35px;
  }

  .project .techs .tech {
    font-size: 16px;
  }
}
