.projects {
  padding: 50px 35px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 600px) and (max-width: 992px) {
  .projects {
    padding: 50px 50px;
  }
}

/* Large devices (laptops/desktops, 993px and up) */
@media (min-width: 993px) {
  .projects {
    padding: 50px 200px;
  }
}
