/* .skills {

} */

.skills .domains {
  display: flex;
  justify-content: center;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .skills .domains {
    flex-wrap: wrap;
  }

  .skills .domains .domain {
    width: 40%;
    margin: 10px;
  }

  .skills .domains .domain .domain-item {
    font-size: 14px;
  }
}
