.App {
  color: #424242;
}

.App .section {
  padding: 50px 35px;
}

.App.dark {
  color: white;
  background-color: #1d2731;
  -webkit-font-smoothing: antialiased;
}

.App.dark .intro {
  color: white;
}

.App.dark .domain-item {
  color: #bdbdbd;
}

.App.dark p {
  color: #bdbdbd;
}

.App.dark strong {
  color: white;
}
