.App {
  color: #424242;
}

.App.dark {
  color: white;
  background-color: #1d2731;
  -webkit-font-smoothing: antialiased;
}

/* .App.dark h1 {
  color: white;
} */

.App.dark .domain-item {
  color: #bdbdbd;
}

.App.dark p {
  color: #bdbdbd;
}
